.header {
    height: 48px;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
}

.header .header-left {
    display: flex;
    align-items: center;
    width: 225px;
    border-right: 1px solid #ccc;
    height: 48px;
}

.header .header-left .toggle {
    width: 24px;
    height: 24px;
    background-color: #000;
    margin: 12px 10px 12px 16px;
    background-image: url('../../content/img/toggle.png');
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header .header-left .logo {
    height: 24px;
    width: 100%;
    /* background-color: teal; */
    background-image: url('../../content/img/cukcuk-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 center;
}