.button {
    height: 40px;
    border: radius 4px;
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    box-sizing: unset;
    display: inline-block;
}

.button:hover {
    background-color: #2FBE8E;
}

.button.button:active {
    background-color: #019160;
}

.button .button:focus {
    background-color: #01B075;
}

button.button {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    outline: none;
    boder: none;
}

.button .btn-icon {
    width: 16px;
    height: 16px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    display: block;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.button .btn-icon-employee {
    background-image: url('../../content/icon/add.png');
}